html{
    font-family: "Arial", "Sans-serif", "Georgia";
}

body{
    overflow: hidden;
    color: #FFF;
}

.backgroundImage{
    background-image: url("imgs/background.jpg");
    filter: blur(20px);
    -webkit-filter: blur(20px);
    max-width: 110%;

    position: absolute;
    top: -5%;
    left: -5%;
}

container{
    display: block;
    width: 100%;
    margin: auto;
}

form{
    display:flex;
    flex-direction: column;
    width: 20%;
    position: absolute;
    margin: auto;

}

input{
    flex: 1;
    margin: 5px 0;
}

label{
    margin: 2px;
}
input[type=text]{
    padding: 5px;
    font-size: 16px;
    margin:5px;
}

